.navbar-inverse li a {
  color: #e1a626;
}

.navbar-brand {
  color: #e1a626;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #e1a626;
}

.dropdown-menu {
  background-color: #333333;
}

.dropdown-menu li a:hover {
  background-color: #080808;
}
