<nav class="navbar navbar-expand-lg navbar-inverse navbar-static-top container-fluid">
  <div class="navbar-header">
    <a routerLink="" class="navbar-brand">Invoice Generator</a>
    <button class="navbar-toggle navbar-toggle-right" type="button" (click)="toggleNavbar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div *ngIf="isAuthenticated" class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
      <li routerLinkActive="active">
        <a routerLink="/Timesheets">Timesheets</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/Invoices">Invoices</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a style="cursor: pointer" class="dropdown-toggle" role="button">
          Hello, {{ userName }}<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer" routerLink="/RateSettings">Rate Settings</a></li>
          <li><a style="cursor: pointer" routerLink="/InvoiceSettings">Invoice Settings</a></li>
          <li><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="!isAuthenticated" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="cursor: pointer" routerLink="/Auth">
          Login
        </a>
      </li>
    </ul>
  </div>
</nav>