<div class="backdrop"></div>
<div class="message-box">
    <form #invoiceForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-new" [disabled]="!invoiceForm.valid" *ngIf="!error">Save</button>
            <button type="button" class="btn btn-new" (click)="onCancel()">Cancel</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" *ngIf="!error">
                    <label for="timesheet">Create Invoice for: </label>
                    <select id="timesheet" id="timesheet" name="timesheet" class="form-control" ngModel required>
                        <option *ngFor="let timesheet of timesheets" [value]="timesheet.id">{{
                            gettimesheetDropdownDisplay(timesheet) }}
                        </option>
                    </select>
                </div>
                <div *ngIf="error">
                    {{ error }}
                </div>
            </div>
        </div>
    </form>
</div>