<div class="backdrop"></div>
<div class="message-box">
    <form #timesheetForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-new" [disabled]="!timesheetForm.valid" *ngIf="!error">Save</button>
            <button type="button" class="btn btn-new" (click)="onCancel()">Cancel</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" *ngIf="!error">
                    <label>Create Timesheet for: </label>
                    <input type="month" id="month" class="form-control" ngModel name="month" required>
                </div>
                <div *ngIf="error">
                    {{ error }}
                </div>
            </div>
        </div>
    </form>
</div>