<div class="btn-toolbar">
    <button type="button" class="btn btn-new" (click)="onAddInvoice()">Add Invoice</button>
    <app-invoice-add *ngIf="isAdding" (closeEvent)="onFinishedAdding()">
    </app-invoice-add>
</div>
<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col" *ngFor="let header of headers">{{ header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let invoice of invoices" (click)="getInvoice(invoice.id)">
            <td>{{ invoice.invoiceForYear }}</td>
            <td>{{ invoice.invoiceForMonth }}</td>
            <td>{{ invoice.invoiceNumber }}</td>
        </tr>
    </tbody>
</table>