<app-timesheet-row-add *ngIf="isAddingRow" (closePopup)="onFinishedAddingRow()" [currentTimesheet]="currentTimesheet">
</app-timesheet-row-add>
<div class="btn-toolbar">
    <button type="button" class="btn btn-new" (click)="onBackToList()">Back to List</button>
    <button type="button" class="btn btn-new" (click)="onAddRow()" *ngIf="!isRowLoaded">Add Row</button>

</div>
<hr>
<app-alert [message]="dayAddedMessage" *ngIf="finishedSaving" (alertClose)="onFinishedSaving()"></app-alert>
<form [formGroup]="rowForm" (ngSubmit)="onSubmit()" *ngIf="isRowLoaded">
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-new" *ngIf="isRowLoaded" [disabled]="!rowForm.valid">Save</button>
        <button type="button" class="btn btn-new" (click)="onAddDay()" *ngIf="isRowLoaded">Add Day</button>
    </div>
    <div>
        <h3>
            {{ getRateTypeNameString(this.loadedRow.rateTypeId) }} Timesheet for {{ this.currentMonthString }}
        </h3>
    </div>
    <div class="form-group" formArrayName="days">
        <div class="row" *ngFor="let dayControl of controls; let i = index" [formGroupName]="i">
            <div class="col-xs-2">
                <input type="date" class="form-control" formControlName="day" [min]="this.minDateForCurrentTimesheet"
                    [max]="this.maxDateForCurrentTimesheet">
            </div>
            <div class="col-xs-1">
                <input type="number" class="form-control" formControlName="reportedHours" min="0" max="24">
            </div>
            <div class="col-xs-1">
                <button type="button" class="btn btn-remove" (click)="onRemoveDay(i)">X</button>
            </div>
        </div>
    </div>
</form>
<div *ngIf="!isRowLoaded">
    <div>
        <p>
            Timesheet for {{ this.currentMonthString }}
        </p>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of headers">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of currentTimesheet.rows" [routerLink]="[]" [queryParams]="{Row: row.id}">
                <td>{{ getRateTypeNameString(row.rateTypeId) }}</td>
                <td>{{ getReportedHoursString(row) }}</td>
            </tr>
        </tbody>
    </table>
</div>