/* You can add global styles to this file, and also import other style files */
.btn-new {
  background-color: #333333;
  border-color: #333333;
  color: #e7b853;
}

.btn-new:hover {
  background-color: #e7b853;
  border-color: #e7b853;
  color: #333333;
}

.btn-new:focus {
  background-color: #333333;
  border-color: #333333;
  color: #e7b853;
}
